In [56]:
import pandas as pd

clean = pd.read_excel('Country_Unicorn_Complete_Dataset_without_shortstringcolumn.xlsx')
clean

,Organization Name,Industry,Valuation ($B),Date Joined,Year Joined,City,Region,Country,Estimated Revenue Range,Number of Founders,...,Website Monthly Visits Growth,Trademark registered,Patent Granted,Amount in USD,High-technology exports (%),Ease of doing business score,Government expenditure on education,Medium and high-tech manufacturing value added (% manufacturing value add,GDP_PPP,Patent - Total patent applications
0,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,29.11%,9.0,38,230000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
1,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,-7.39%,NaN,NaN,118000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
2,Nuro,Industrials,8.6,2019-02-11,2019,Mountain View,California,United States,$100M to $500M,2.0,...,-50.84%,4.0,114,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
3,Pony.ai,Industrials,8.6,2018-07-11,2018,Fremont,California,United States,$100M to $500M,2.0,...,183.39%,2.0,0,100000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
4,FalconX,Financial Services,8.0,2021-08-10,2021,San Mateo,California,United States,NaN,2.0,...,-68.55%,NaN,NaN,150000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Misfits Market,Consumer & Retail,2.0,2021-04-21,2021,Clackamas,Oregon,United States,$100M to $500M,2.0,...,-22.09%,4.0,0,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
504,ClickHouse,Enterprise Tech,2.0,2021-10-28,2021,Portola Valley,California,United States,$10M to $50M,3.0,...,87.38%,NaN,NaN,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
505,VerbIT,Enterprise Tech,2.0,2021-06-08,2021,New York,New York,United States,$100M to $500M,3.0,...,91.20%,NaN,NaN,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
506,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,2.68%,NaN,NaN,100000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0
507,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,-25.67%,NaN,NaN,60000000.0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0

In [57]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 28 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation ($B)                                                             508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  Amount in USD                                                              380 non-null    float64
 22  High-technology exports (%)                                                508 non-null    float64
 23  Ease of doing business score                                               508 non-null    float64
 24  Government expenditure on education                                        498 non-null    float64
 25  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 26  GDP_PPP                                                                    508 non-null    float64
 27  Patent - Total patent applications                                         506 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(1), object(13)
memory usage: 111.3+ KB

In [58]:
clean = clean.rename(columns={'Valuation ($B)': 'Valuation'})

In [59]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 28 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation                                                                  508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  Amount in USD                                                              380 non-null    float64
 22  High-technology exports (%)                                                508 non-null    float64
 23  Ease of doing business score                                               508 non-null    float64
 24  Government expenditure on education                                        498 non-null    float64
 25  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 26  GDP_PPP                                                                    508 non-null    float64
 27  Patent - Total patent applications                                         506 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(1), object(13)
memory usage: 111.3+ KB

In [60]:
clean = clean.drop(columns={'Amount in USD'})

In [61]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 27 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation                                                                  508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  High-technology exports (%)                                                508 non-null    float64
 22  Ease of doing business score                                               508 non-null    float64
 23  Government expenditure on education                                        498 non-null    float64
 24  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 25  GDP_PPP                                                                    508 non-null    float64
 26  Patent - Total patent applications                                         506 non-null    float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(13)
memory usage: 107.3+ KB

In [62]:
import pandas as pd


# Define a function to handle currency and amount extraction
def split_currency_amount(value):
    if pd.isna(value):  # Handle missing values
        return pd.Series([None, None])
    
    # Ensure the value is a string
    value = str(value)
    
    # List of possible currency symbols
    currency_symbols = ['$', '£', '€', '₹', '₩', 'CN¥']
    
    # Check which symbol is in the string
    for symbol in currency_symbols:
        if value.startswith(symbol):
            # Remove the currency symbol and commas, then convert to float
            amount = value.strip(symbol).replace(',', '')
            return pd.Series([symbol, float(amount)])
    
    # If no symbol matches, return None
    return pd.Series([None, None])

# Apply the function to split the column
clean[['Currency_E', 'Ttl Equity Funding Amount']] = clean['Total Equity Funding Amount'].apply(split_currency_amount)
clean[['Currency_T', 'Ttl Funding Amount']] = clean['Total Funding Amount'].apply(split_currency_amount)

clean

,Organization Name,Industry,Valuation,Date Joined,Year Joined,City,Region,Country,Estimated Revenue Range,Number of Founders,...,High-technology exports (%),Ease of doing business score,Government expenditure on education,Medium and high-tech manufacturing value added (% manufacturing value add,GDP_PPP,Patent - Total patent applications,Currency_E,Ttl Equity Funding Amount,Currency_T,Ttl Funding Amount
0,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,4.974500e+08,$,4.974500e+08
1,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,3.810000e+08,$,3.810000e+08
2,Nuro,Industrials,8.6,2019-02-11,2019,Mountain View,California,United States,$100M to $500M,2.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,2.132149e+09,$,2.132149e+09
3,Pony.ai,Industrials,8.6,2018-07-11,2018,Fremont,California,United States,$100M to $500M,2.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,1.332000e+09,$,1.332000e+09
4,FalconX,Financial Services,8.0,2021-08-10,2021,San Mateo,California,United States,NaN,2.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,4.740000e+08,$,4.770000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Misfits Market,Consumer & Retail,2.0,2021-04-21,2021,Clackamas,Oregon,United States,$100M to $500M,2.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,5.265000e+08,$,5.265000e+08
504,ClickHouse,Enterprise Tech,2.0,2021-10-28,2021,Portola Valley,California,United States,$10M to $50M,3.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,3.000000e+08,$,3.000000e+08
505,VerbIT,Enterprise Tech,2.0,2021-06-08,2021,New York,New York,United States,$100M to $500M,3.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,4.320000e+08,$,5.690000e+08
506,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,None,NaN,$,1.000000e+08
507,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,$,3.002000e+08,$,3.002000e+08

In [63]:
# Define Currency Conversion Rates

conversion_rates = {
    '$': 1,         # USD to USD
    '¥': 0.1380,      # CNY to USD 
    '€': 1.1,        # EUR to USD
    '₹': 0.01184,    #Indian Rupee
    '₩': 0.0007126     #South Korean Won
}

In [64]:
# Convert to USD

clean['Ttl Equity Funding Amount in USD'] = clean.apply(
    lambda row: row['Ttl Equity Funding Amount'] * conversion_rates.get(row['Currency_E'], 1),
    axis=1
)

clean['Ttl Funding Amount in USD'] = clean.apply(
    lambda row: row['Ttl Funding Amount'] * conversion_rates.get(row['Currency_T'], 1),
    axis=1
)

In [65]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 33 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation                                                                  508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  High-technology exports (%)                                                508 non-null    float64
 22  Ease of doing business score                                               508 non-null    float64
 23  Government expenditure on education                                        498 non-null    float64
 24  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 25  GDP_PPP                                                                    508 non-null    float64
 26  Patent - Total patent applications                                         506 non-null    float64
 27  Currency_E                                                                 473 non-null    object
 28  Ttl Equity Funding Amount                                                  473 non-null    float64
 29  Currency_T                                                                 480 non-null    object
 30  Ttl Funding Amount                                                         480 non-null    float64
 31  Ttl Equity Funding Amount in USD                                           473 non-null    float64
 32  Ttl Funding Amount in USD                                                  480 non-null    float64
dtypes: datetime64[ns](1), float64(16), int64(1), object(15)
memory usage: 131.1+ KB

In [66]:
clean = clean.drop(columns=['Ttl Funding Amount', 'Currency_T', 'Ttl Equity Funding Amount', 'Currency_E'])

In [67]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 29 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation                                                                  508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  High-technology exports (%)                                                508 non-null    float64
 22  Ease of doing business score                                               508 non-null    float64
 23  Government expenditure on education                                        498 non-null    float64
 24  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 25  GDP_PPP                                                                    508 non-null    float64
 26  Patent - Total patent applications                                         506 non-null    float64
 27  Ttl Equity Funding Amount in USD                                           473 non-null    float64
 28  Ttl Funding Amount in USD                                                  480 non-null    float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(13)
memory usage: 115.2+ KB

In [68]:
clean = clean.rename(columns={'Ttl Equity Funding Amount in USD': 'Total Equity Funding Amount in USD'})
clean = clean.rename(columns={'Ttl Funding Amount in USD': 'Total Funding Amount in USD'})

In [69]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 29 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          508 non-null    object
 1   Industry                                                                   508 non-null    object
 2   Valuation                                                                  508 non-null    float64
 3   Date Joined                                                                508 non-null    datetime64[ns]
 4   Year Joined                                                                508 non-null    int64
 5   City                                                                       507 non-null    object
 6   Region                                                                     507 non-null    object
 7   Country                                                                    507 non-null    object
 8   Estimated Revenue Range                                                    443 non-null    object
 9   Number of Founders                                                         476 non-null    float64
 10  Number of Employees                                                        507 non-null    object
 11  Number of Lead Investors                                                   481 non-null    float64
 12  Number of Investors                                                        486 non-null    float64
 13  Number of Funding Rounds                                                   488 non-null    float64
 14  Total Equity Funding Amount                                                476 non-null    object
 15  Total Funding Amount                                                       483 non-null    object
 16  Founded Date                                                               508 non-null    object
 17  Website Monthly Visits                                                     483 non-null    object
 18  Website Monthly Visits Growth                                              474 non-null    object
 19  Trademark registered                                                       343 non-null    float64
 20  Patent Granted                                                             343 non-null    object
 21  High-technology exports (%)                                                508 non-null    float64
 22  Ease of doing business score                                               508 non-null    float64
 23  Government expenditure on education                                        498 non-null    float64
 24  Medium and high-tech manufacturing value added (% manufacturing value add  507 non-null    float64
 25  GDP_PPP                                                                    508 non-null    float64
 26  Patent - Total patent applications                                         506 non-null    float64
 27  Total Equity Funding Amount in USD                                         473 non-null    float64
 28  Total Funding Amount in USD                                                480 non-null    float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(13)
memory usage: 115.2+ KB

In [72]:
tax = pd.read_csv('Tax Rate.csv')

In [75]:
tax

         Country  Sum of Last
0    Afghanistan        20.00
1        Albania        15.00
2        Algeria        26.00
3         Angola        25.00
4      Argentina        35.00
..           ...          ...
159      Vanuatu         0.00
160    Venezuela        34.00
161      Vietnam        20.00
162       Zambia        30.00
163     Zimbabwe        24.72

[164 rows x 2 columns]

In [74]:
digital = pd.read_excel('Digital_Adoption_Index.xlsx')

In [78]:
digital

,country,Year,Digital Adoption Index,DAI Business Sub-index,DAI People Sub-index,DAI Government Sub-index
0,Afghanistan,2014,0.302608,0.296788,0.087707,0.523330
1,Afghanistan,2016,0.343214,0.341886,0.123343,0.564413
2,Albania,2014,0.543884,0.554248,0.387060,0.690344
3,Albania,2016,0.607904,0.621125,0.463779,0.738807
4,Algeria,2014,0.369554,0.449673,0.279038,0.379950
...,...,...,...,...,...,...
361,"Yemen, Rep.",2016,0.255398,0.253153,0.157323,0.355717
362,Zambia,2014,0.294061,0.302829,0.135815,0.443540
363,Zambia,2016,0.344405,0.330010,0.183720,0.519486
364,Zimbabwe,2014,0.303347,0.375091,0.173330,0.361619
365,Zimbabwe,2016,0.328337,0.428782,0.210012,0.346216

In [79]:
digital = digital.rename(columns={'country': 'Country'})

In [80]:
digital

,Country,Year,Digital Adoption Index,DAI Business Sub-index,DAI People Sub-index,DAI Government Sub-index
0,Afghanistan,2014,0.302608,0.296788,0.087707,0.523330
1,Afghanistan,2016,0.343214,0.341886,0.123343,0.564413
2,Albania,2014,0.543884,0.554248,0.387060,0.690344
3,Albania,2016,0.607904,0.621125,0.463779,0.738807
4,Algeria,2014,0.369554,0.449673,0.279038,0.379950
...,...,...,...,...,...,...
361,"Yemen, Rep.",2016,0.255398,0.253153,0.157323,0.355717
362,Zambia,2014,0.294061,0.302829,0.135815,0.443540
363,Zambia,2016,0.344405,0.330010,0.183720,0.519486
364,Zimbabwe,2014,0.303347,0.375091,0.173330,0.361619
365,Zimbabwe,2016,0.328337,0.428782,0.210012,0.346216

In [77]:
merge_tax = pd.merge(clean, tax, on='Country', how='inner')
merge_tax

,Organization Name,Industry,Valuation,Date Joined,Year Joined,City,Region,Country,Estimated Revenue Range,Number of Founders,...,Patent Granted,High-technology exports (%),Ease of doing business score,Government expenditure on education,Medium and high-tech manufacturing value added (% manufacturing value add,GDP_PPP,Patent - Total patent applications,Total Equity Funding Amount in USD,Total Funding Amount in USD,Sum of Last
0,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,38,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,4.974500e+08,4.974500e+08,21.0
1,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,3.810000e+08,3.810000e+08,21.0
2,Nuro,Industrials,8.6,2019-02-11,2019,Mountain View,California,United States,$100M to $500M,2.0,...,114,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,2.132149e+09,2.132149e+09,21.0
3,Pony.ai,Industrials,8.6,2018-07-11,2018,Fremont,California,United States,$100M to $500M,2.0,...,0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,1.332000e+09,1.332000e+09,21.0
4,FalconX,Financial Services,8.0,2021-08-10,2021,San Mateo,California,United States,NaN,2.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,4.740000e+08,4.770000e+08,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Misfits Market,Consumer & Retail,2.0,2021-04-21,2021,Clackamas,Oregon,United States,$100M to $500M,2.0,...,0,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,5.265000e+08,5.265000e+08,21.0
499,ClickHouse,Enterprise Tech,2.0,2021-10-28,2021,Portola Valley,California,United States,$10M to $50M,3.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,3.000000e+08,3.000000e+08,21.0
500,VerbIT,Enterprise Tech,2.0,2021-06-08,2021,New York,New York,United States,$100M to $500M,3.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,4.320000e+08,5.690000e+08,21.0
501,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,NaN,1.000000e+08,21.0
502,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,NaN,18.685394,83.99668,15.517134,45.231924,65548.070785,509964.0,3.002000e+08,3.002000e+08,21.0

In [82]:
merge_tax_digital = pd.merge(merge_tax, digital, on='Country', how='inner')
merge_tax_digital

,Organization Name,Industry,Valuation,Date Joined,Year Joined,City,Region,Country,Estimated Revenue Range,Number of Founders,...,GDP_PPP,Patent - Total patent applications,Total Equity Funding Amount in USD,Total Funding Amount in USD,Sum of Last,Year,Digital Adoption Index,DAI Business Sub-index,DAI People Sub-index,DAI Government Sub-index
0,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,4.974500e+08,4.974500e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
1,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,4.974500e+08,4.974500e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
2,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,65548.070785,509964.0,3.810000e+08,3.810000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
3,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,65548.070785,509964.0,3.810000e+08,3.810000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
4,Nuro,Industrials,8.6,2019-02-11,2019,Mountain View,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,2.132149e+09,2.132149e+09,21.0,2014,0.719952,0.759848,0.664677,0.73533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,VerbIT,Enterprise Tech,2.0,2021-06-08,2021,New York,New York,United States,$100M to $500M,3.0,...,65548.070785,509964.0,4.320000e+08,5.690000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
986,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,65548.070785,509964.0,NaN,1.000000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
987,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,65548.070785,509964.0,NaN,1.000000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
988,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,65548.070785,509964.0,3.002000e+08,3.002000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
989,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,65548.070785,509964.0,3.002000e+08,3.002000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955

In [83]:
merge_tax_digital = merge_tax_digital.rename(columns={'Year': 'Year_digital'})

In [84]:
merge_tax_digital

,Organization Name,Industry,Valuation,Date Joined,Year Joined,City,Region,Country,Estimated Revenue Range,Number of Founders,...,GDP_PPP,Patent - Total patent applications,Total Equity Funding Amount in USD,Total Funding Amount in USD,Sum of Last,Year_digital,Digital Adoption Index,DAI Business Sub-index,DAI People Sub-index,DAI Government Sub-index
0,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,4.974500e+08,4.974500e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
1,Talkdesk,Enterprise Tech,10.0,2018-10-03,2018,San Francisco,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,4.974500e+08,4.974500e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
2,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,65548.070785,509964.0,3.810000e+08,3.810000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
3,VAST Data,Enterprise Tech,9.1,2020-04-16,2020,New York,New York,United States,$100M to $500M,5.0,...,65548.070785,509964.0,3.810000e+08,3.810000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
4,Nuro,Industrials,8.6,2019-02-11,2019,Mountain View,California,United States,$100M to $500M,2.0,...,65548.070785,509964.0,2.132149e+09,2.132149e+09,21.0,2014,0.719952,0.759848,0.664677,0.73533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,VerbIT,Enterprise Tech,2.0,2021-06-08,2021,New York,New York,United States,$100M to $500M,3.0,...,65548.070785,509964.0,4.320000e+08,5.690000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
986,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,65548.070785,509964.0,NaN,1.000000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
987,Cloudinary,Media & Entertainment,2.0,2022-02-15,2022,Santa Clara,California,United States,$50M to $100M,3.0,...,65548.070785,509964.0,NaN,1.000000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955
988,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,65548.070785,509964.0,3.002000e+08,3.002000e+08,21.0,2014,0.719952,0.759848,0.664677,0.73533
989,CertiK,Enterprise Tech,2.0,2022-03-31,2022,New York,New York,United States,$10M to $50M,3.0,...,65548.070785,509964.0,3.002000e+08,3.002000e+08,21.0,2016,0.747118,0.781266,0.730538,0.72955

In [86]:
merge_tax_digital = merge_tax_digital.rename(columns={'Sum of Last': 'Tax_Sum of Last'})

In [87]:
merge_tax_digital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 35 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Organization Name                                                          990 non-null    object
 1   Industry                                                                   990 non-null    object
 2   Valuation                                                                  990 non-null    float64
 3   Date Joined                                                                990 non-null    datetime64[ns]
 4   Year Joined                                                                990 non-null    int64
 5   City                                                                       990 non-null    object
 6   Region                                                                     990 non-null    object
 7   Country                                                                    990 non-null    object
 8   Estimated Revenue Range                                                    862 non-null    object
 9   Number of Founders                                                         928 non-null    float64
 10  Number of Employees                                                        988 non-null    object
 11  Number of Lead Investors                                                   938 non-null    float64
 12  Number of Investors                                                        948 non-null    float64
 13  Number of Funding Rounds                                                   952 non-null    float64
 14  Total Equity Funding Amount                                                928 non-null    object
 15  Total Funding Amount                                                       942 non-null    object
 16  Founded Date                                                               990 non-null    object
 17  Website Monthly Visits                                                     946 non-null    object
 18  Website Monthly Visits Growth                                              928 non-null    object
 19  Trademark registered                                                       670 non-null    float64
 20  Patent Granted                                                             670 non-null    object
 21  High-technology exports (%)                                                990 non-null    float64
 22  Ease of doing business score                                               990 non-null    float64
 23  Government expenditure on education                                        982 non-null    float64
 24  Medium and high-tech manufacturing value added (% manufacturing value add  988 non-null    float64
 25  GDP_PPP                                                                    990 non-null    float64
 26  Patent - Total patent applications                                         988 non-null    float64
 27  Total Equity Funding Amount in USD                                         922 non-null    float64
 28  Total Funding Amount in USD                                                936 non-null    float64
 29  Tax_Sum of Last                                                            990 non-null    float64
 30  Year_digital                                                               990 non-null    int64
 31  Digital Adoption Index                                                     990 non-null    float64
 32  DAI Business Sub-index                                                     990 non-null    float64
 33  DAI People Sub-index                                                       990 non-null    float64
 34  DAI Government Sub-index                                                   990 non-null    float64
dtypes: datetime64[ns](1), float64(19), int64(2), object(13)
memory usage: 270.8+ KB

In [92]:
merge_tax_digital = merge_tax_digital.drop('Patent Granted', axis=1)

In [93]:
merge_tax_digital.to_csv('output_file.csv', index=False)